* {
    padding: 0;
    margin: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #65AAA6;
    color: white;
    justify-content: space-around;
    padding: 30px 15px;
    font-size: 20px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 3px 15px;
}

.sobre {
    background-image: linear-gradient(#65AAA6,#4EBFE9);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    font-size: 19px;
}

.sobre-titulo {
    padding: 10px 0px;
    font-size: 20px;
}

.livros {
    padding: 80px 8px;
}

.livro-imagem {
    width: 24px;

}
    
.livro-imagem{
    width: 120px;
}

.livro-div{
    text-align: center;
    padding: 16px 0;
}

.livros-titulo{
    text-align: center;
    padding: 20px 50px;
}

.livros-todos{
    display: grid;
    grid-template-columns: 25% 25% 25%
}

.rodape{
    background-color: #8aa7a6;
    color: white;
    padding: 25px 25px;
}

.rodape-itens {
    display: inline-block;
    margin: 3px 15px;
    font-size: 18px;
}